<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %} Маршруты {% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-8 mx-auto">
        <h1 class="col-md-6 mx-auto">Список маршрутов</h1>
        <table class="table table-striped">
            <tr>
                <th>Название</th>
                <th>Откуда</th>
                <th>Куда</th>
                <th>Общее время в пути</th>

            </tr>
            {% for route in page_obj %} 
                <tr>
                    <td>
                        <a href="{% url 'route_detail' pk=route.pk %}">{{ route.name }}</a>
                    </td>

                    <td>
                        {{ route.from_city }}
                    </td>

                    <td>
                        {{ route.to_city }}
                    </td>

                    <td>
                        {{ route.travel_times }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<!-- Pagination: -->
<!-- <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> -->

<!-- Pagination with Bootstrap: -->
<nav aria-label="Page navigation example">
    <ul class="pagination col-md-2 mx-auto">
      <li class="page-item">
        {% if page_obj.has_previous %}
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" area-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        {% endif %}
      </li>

      {% for page in page_obj.paginator.page_range %}
        <li class="page-item {% if page == page_obj.number %} active {% endif %}">
            <a class="page-link" href="?page={{ page }}">
                {{ page }}
            </a>
        </li>
      {% endfor %}
      

      <li class="page-item">
        {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" area-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        {% endif %}
      </li>
      
    </ul>
</nav>

{% endblock %}