<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %} Поезда {% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-8 mx-auto">
        <h1 class="col-md-6 mx-auto">Список поездов</h1>
        <table class="table table-striped">
            <tr>
                <th>Номер</th>
                <th>Откуда</th>
                <th>Куда</th>
                <th>Время в пути</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            {% for train in page_obj %}  <!-- pagination from views.py -- class TrainListView(ListView): -->
                <tr>
                    <td>
                        <a href="{% url 'app_trains:detail' pk=train.pk %}">{{ train.name }}</a>
                    </td>

                    <td>
                        {{ train.from_city }}
                    </td>

                    <td>
                        {{ train.to_city }}
                    </td>

                    <td>
                        {{ train.travel_time }}
                    </td>

                    <td>
                        <a href="{% url 'app_trains:update' pk=train.pk %}">
                            <button type="button" class="btn btn-info">Редактировать</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'app_trains:delete' pk=train.pk %}">
                            <button type="button" class="btn btn-danger">Удалить</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<!-- Pagination: -->
<!-- <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> -->

<!-- Pagination with Bootstrap: -->
<nav aria-label="Page navigation example">
    <ul class="pagination col-md-2 mx-auto">
      <li class="page-item">
        {% if page_obj.has_previous %}
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" area-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        {% endif %}
      </li>

      {% for page in page_obj.paginator.page_range %}
        <li class="page-item {% if page == page_obj.number %} active {% endif %}">
            <a class="page-link" href="?page={{ page }}">
                {{ page }}
            </a>
        </li>
      {% endfor %}
      

      <li class="page-item">
        {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" area-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        {% endif %}
      </li>
      
    </ul>
</nav>

{% endblock %}